openapi: 3.2.0
info:
  title: Tradeshift External Dx Category Assignments Find API
  version: 1.0.0
servers:
- url: https://api.tradeshift.com/tradeshift
tags:
- name: dx-category--assignments-find
paths:
  /rest/external/assignments:
    get:
      responses:
        '200':
          description: 'Returns the paged list of filtered assignments. <br> If no assignments are found it returns an empty paged list.

            '
          content:
            application/json:
              example:
                total: 2
                items:
                - id: 460b2008-8872-4620-8ed2-410ce5640fb9
                  externalId: external id
                  subjectId: 280b2305-8872-3620-9ed2-010ce5640fb7
                  app: APVerification
                  createdBy: 760b2008-8872-4620-8ed2-410ce5640fb4
                  assigneeIds:
                  - 12067d82-1308-4fd1-9d0b-12eafe99c4cd
                  companyId: 3fba6061-b51e-49bb-8c08-6cf6d28a304a
                  tags:
                  - A tag
                  - Another tag
                  type: DOCUMENT
                  createdAt: '2018-10-25T10:56:27.311+03:00'
                  modifiedAt: '2018-10-25T10:56:27.311+03:00'
                  outcome: An outcome
                  status: OPEN
                  modifiedBy: 12067d82-1308-4fd1-9d0b-12eafe99c4cd
                  comment: Assigned to default assignee.
                  context:
                    format: App.Tradeshift
                    context:
                    - freeJson
                - id: a60b2008-8872-4620-8ed2-410ce5640fb9
                  externalId: external id
                  subjectId: 360b2008-8872-4620-8ed2-410ce5640fb0
                  app: APVerification
                  createdBy: 260b2008-8872-4620-8ed2-410ce5640fb3
                  assigneeIds:
                  - 12067d82-1308-4fd1-9d0b-12eafe99c4cd
                  companyId: 3fba6061-b51e-49bb-8c08-6cf6d28a304a
                  tags: []
                  type: A type
                  createdAt: '2018-10-25T16:40:31.795+03:00'
                  modifiedAt: '2018-10-25T16:40:31.795+03:00'
                  outcome: An outcome
                  status: CLOSED
                  modifiedBy: 12067d82-1308-4fd1-9d0b-12eafe99c4cd
                  comment: Assigned to default assignee.
                  context:
                    format: App.Tradeshift
                    context: {}
                empty: false
                firstItem:
                  id: 460b2008-8872-4620-8ed2-410ce5640fb9
                  externalId: External-Id
                  subjectId: 280b2305-8872-3620-9ed2-010ce5640fb7
                  app: APVerification
                  createdBy: 760b2008-8872-4620-8ed2-410ce5640fb4
                  assigneeIds:
                  - 12067d82-1308-4fd1-9d0b-12eafe99c4cd
                  companyId: 3fba6061-b51e-49bb-8c08-6cf6d28a304a
                  tags:
                  - A tag
                  - Another tag
                  type: DOCUMENT
                  createdAt: '2018-10-25T10:56:27.311+03:00'
                  modifiedAt: '2018-10-25T10:56:27.311+03:00'
                  outcome: An outcome
                  status: OPEN
                  modifiedBy: 12067d82-1308-4fd1-9d0b-12eafe99c4cd
                  comment: Assigned to default assignee.
                  context:
                    format: App.Tradeshift
                    context:
                    - freeJson
              schema:
                title: Tradeshift Public API 1.0 - Assignments
                required:
                - total
                - items
                - empty
                type: object
                additionalProperties: false
                properties:
                  total:
                    minimum: 0
                    description: The number of assignments returned for the query
                    type: integer
                  items:
                    minItems: 0
                    uniqueItems: true
                    type: array
                    additionalProperties: false
                    items:
                      required:
                      - id
                      - subjectId
                      - type
                      type: object
                      properties:
                        id:
                          pattern: ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
                          description: String representation of an Universally unique identifier (UUID), version 5. See RFC 4122
                          type: string
                        subjectId:
                          pattern: ^.{1,255}$
                          type: string
                        app:
                          pattern: ^.{1,255}$
                          type: string
                        createdBy:
                          pattern: ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
                          description: String representation of an Universally unique identifier (UUID), version 5. See RFC 4122
                          type: string
                        assigneeIds:
                          minItems: 1
                          uniqueItems: true
                          type: array
                          additionalProperties: false
                          items:
                            pattern: ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
                            description: String representation of an Universally unique identifier (UUID), version 5. See RFC 4122
                            type: string
                        companyId:
                          pattern: ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
                          description: String representation of an Universally unique identifier (UUID), version 5. See RFC 4122
                          type: string
                        tags:
                          minItems: 0
                          uniqueItems: true
                          type: array
                          additionalProperties: false
                          items:
                            type: string
                        type:
                          pattern: ^.{1,255}$
                          type: string
                        modifiedBy:
                          pattern: ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
                          description: String representation of an Universally unique identifier (UUID), version 5. See RFC 4122
                          type: string
                        createdAt:
                          pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(\.\d{3})?(Z|(\+|\-)[0-9]{2}:[0-9]{2})
                          description: ISO8601 formatted DateTime in UTC timezone, fx 2014-12-09T16:11:53Z with optionally .001 for milliseconds.
                          type: string
                        externalId:
                          pattern: ^.{1,255}$
                          type: string
                        modifiedAt:
                          pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(\.\d{3})?(Z|(\+|\-)[0-9]{2}:[0-9]{2})
                          description: ISO8601 formatted DateTime in UTC timezone, fx 2014-12-09T16:11:53Z with optionally .001 for milliseconds.
                          type: string
                        assignmentLogs:
                          minItems: 0
                          uniqueItems: true
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                              outcome:
                                type: string
                              externalId:
                                pattern: ^.{1,255}$
                                type: string
                              status:
                                type: string
                              comment:
                                type: string
                              tags:
                                minItems: 0
                                uniqueItems: true
                                type: array
                                additionalProperties: false
                                items:
                                  type: string
                              createdAt:
                                pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(\.\d{3})?(Z|(\+|\-)[0-9]{2}:[0-9]{2})
                                description: ISO8601 formatted DateTime in UTC timezone, fx 2014-12-09T16:11:53Z with optionally .001 for milliseconds.
                                type: string
                            required:
                            - id
                            - outcome
                            - externalId
                            - status
                            - comment
                            - tags
                            - createdAt
                        context:
                          type: object
                        delegations:
                          uniqueItems: true
                          type: array
                          items:
                            required:
                            - delegator
                            - delegatee
                            type: object
                            properties:
                              delegator:
                                pattern: ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
                                description: String representation of an Universally unique identifier (UUID), version 5. See RFC 4122
                                type: string
                              delegatee:
                                pattern: ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
                                description: String representation of an Universally unique identifier (UUID), version 5. See RFC 4122
                                type: string
                              delegatorType:
                                type: string
                  empty:
                    type: boolean
                  firstItem:
                    required:
                    - id
                    - subjectId
                    - type
                    type: object
                    properties:
                      id:
                        pattern: ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
                        description: String representation of an Universally unique identifier (UUID), version 5. See RFC 4122
                        type: string
                      subjectId:
                        pattern: ^.{1,255}$
                        type: string
                      app:
                        pattern: ^.{1,255}$
                        type: string
                      createdBy:
                        pattern: ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
                        description: String representation of an Universally unique identifier (UUID), version 5. See RFC 4122
                        type: string
                      assigneeIds:
                        minItems: 1
                        uniqueItems: true
                        type: array
                        additionalProperties: false
                        items:
                          pattern: ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
                          description: String representation of an Universally unique identifier (UUID), version 5. See RFC 4122
                          type: string
                      companyId:
                        pattern: ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
                        description: String representation of an Universally unique identifier (UUID), version 5. See RFC 4122
                        type: string
                      tags:
                        minItems: 0
                        uniqueItems: true
                        type: array
                        additionalProperties: false
                        items:
                          type: string
                      type:
                        pattern: ^.{1,255}$
                        type: string
                      modifiedBy:
                        pattern: ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
                        description: String representation of an Universally unique identifier (UUID), version 5. See RFC 4122
                        type: string
                      createdAt:
                        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(\.\d{3})?(Z|(\+|\-)[0-9]{2}:[0-9]{2})
                        description: ISO8601 formatted DateTime in UTC timezone, fx 2014-12-09T16:11:53Z with optionally .001 for milliseconds.
                        type: string
                      externalId:
                        pattern: ^.{1,255}$
                        type: string
                      modifiedAt:
                        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(\.\d{3})?(Z|(\+|\-)[0-9]{2}:[0-9]{2})
                        description: ISO8601 formatted DateTime in UTC timezone, fx 2014-12-09T16:11:53Z with optionally .001 for milliseconds.
                        type: string
                      assignmentLogs:
                        minItems: 0
                        uniqueItems: true
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            outcome:
                              type: string
                            externalId:
                              pattern: ^.{1,255}$
                              type: string
                            status:
                              type: string
                            comment:
                              type: string
                            tags:
                              minItems: 0
                              uniqueItems: true
                              type: array
                              additionalProperties: false
                              items:
                                type: string
                            createdAt:
                              pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(\.\d{3})?(Z|(\+|\-)[0-9]{2}:[0-9]{2})
                              description: ISO8601 formatted DateTime in UTC timezone, fx 2014-12-09T16:11:53Z with optionally .001 for milliseconds.
                              type: string
                          required:
                          - id
                          - outcome
                          - externalId
                          - status
                          - comment
                          - tags
                          - createdAt
                      context:
                        type: object
                      delegations:
                        uniqueItems: true
                        type: array
                        items:
                          required:
                          - delegator
                          - delegatee
                          type: object
                          properties:
                            delegator:
                              pattern: ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
                              description: String representation of an Universally unique identifier (UUID), version 5. See RFC 4122
                              type: string
                            delegatee:
                              pattern: ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
                              description: String representation of an Universally unique identifier (UUID), version 5. See RFC 4122
                              type: string
                            delegatorType:
                              type: string
        '400':
          description: The page number is negative.
          content:
            application/json:
              example:
                ErrorCode: BadRequest
                Message: An invalid request was made - Parameter 'page' cannot be negative
                ErrorDetail:
                - Key: message
                  Value: Parameter 'page' cannot be negative.
                ValidationError: []
              schema:
                type: string
        '401':
          description: ''
        '404':
          description: ''
          content:
            text/xml:
              schema:
                example: "<ns6:ResponseError xmlns:cec=\"urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2\"\n                   xmlns:cac=\"urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2\"\n                   xmlns:cbc=\"urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2\"\n                   xmlns:ns6=\"http://tradeshift.com/api/1.0\"\n                   xmlns:ns20=\"urn:oasis:names:specification:ubl:schema:xsd:OrderResponseSimple-2\"\n                   xmlns:ns8=\"urn:oasis:names:specification:ubl:schema:xsd:ApplicationResponse-2\"\n                   xmlns:ns7=\"http://tradeshift.com/api/2.0\"\n                   xmlns:ns13=\"urn:oasis:names:specification:ubl:schema:xsd:CreditNote-2\"\n                   xmlns:ns9=\"urn:oasis:names:specification:ubl:schema:xsd:OrderCancellation-2\"\n                   xmlns:ns12=\"urn:oasis:names:specification:ubl:schema:xsd:Quotation-2\"\n                   xmlns:ns11=\"urn:oasis:names:specification:ubl:schema:xsd:Invoice-2\"\n                   xmlns:ns22=\"urn:oasis:names:specification:ubl:schema:xsd:RequestForQuotation-2\"\n                   xmlns:ns10=\"urn:oasis:names:specification:ubl:schema:xsd:DespatchAdvice-2\"\n                   xmlns:ns21=\"urn:oasis:names:specification:ubl:schema:xsd:OrderResponse-2\"\n                   xmlns:ns17=\"urn:oasis:names:specification:ubl:schema:xsd:RemittanceAdvice-2\"\n                   xmlns:ns16=\"urn:oasis:names:specification:ubl:schema:xsd:Reminder-2\"\n                   xmlns:ns15=\"urn:oasis:names:specification:ubl:schema:xsd:OrderChange-2\"\n                   xmlns:ns14=\"urn:oasis:names:specification:ubl:schema:xsd:Order-2\"\n                   xmlns:ns19=\"urn:oasis:names:specification:ubl:schema:xsd:Catalogue-2\"\n                   xmlns:ts=\"http://tradeshift.com/api/public/1.0\"\n                   xmlns:ns18=\"urn:oasis:names:specification:ubl:schema:xsd:ReceiptAdvice-2\">\n    <ns6:ErrorCode>ResourceNotFound</ns6:ErrorCode>\n    <ns6:Message>Error&amp;#x3a; ResourceNotFound&amp;#x3a; The object did not exist</ns6:Message>\n    <ns6:RequestId>fff29544-8039-499f-91c5-b3c9e4e3d8b1</ns6:RequestId>\n</ns6:ResponseError>\n"
      description: 'Get a paginated list of assignments filtered by the following query parameters. The search will be performed on assignments from the current branch and child branches.

        '
      operationId: get-rest-external-assignments
      parameters:
      - name: companyid
        in: query
        description: Company (tenant) UUID used to filter assignments.
        schema:
          type: string
      - name: assigneeids
        in: query
        description: List of  UUIDs of assignees, used to filter assignments.
        schema:
          type: string
      - name: with_tags
        in: query
        description: List of strings representing tags to be used to filter assignments.
        schema:
          type: string
      - name: without_tags
        in: query
        description: List of strings representing tags to be used to exclude assignments.
        schema:
          type: string
      - name: status
        in: query
        description: List of statuses to be used to filter assignment (e.g. OPEN, CLOSED, WAITING_FOR_ASSIGNEES)
        schema:
          type: string
      - name: type
        in: query
        description: String representing a type used to filter assignments.
        schema:
          type: string
      - name: type_category
        in: query
        description: String representing a type category(a collection of assignment types)
        schema:
          type: string
      - name: created_from
        in: query
        description: Datetime used to get assignments created after this date.
        schema:
          type: string
      - name: created_to
        in: query
        description: Datetime used to get assignments created before this date.
        schema:
          type: string
      - name: modified_from
        in: query
        description: Datetime used to get assignments modified after this date.
        schema:
          type: string
      - name: modified_to
        in: query
        description: Datetime used to get assignments modified before this date.
        schema:
          type: string
      - name: subjectid
        in: query
        description: 'Represents a free form identifier ( usually a document UUID ) of the subject the assignment is referring to and can be used to search assignments by.

          '
        schema:
          type: string
      - name: externalid
        in: query
        description: 'Free form string representing a custom client identifier which can be used later to search assignments by. Assignments service makes no uniqueness validation on this identifier.

          '
        schema:
          type: string
      - name: page
        in: query
        description: Number representing the page to be return from the paginated result-set.
        schema:
          default: 0
          type: integer
      - name: limit
        in: query
        description: The number of assignments displayed per page.
        schema:
          default: 20
          type: integer
      - name: sortby
        in: query
        description: The sorting field.
        schema:
          type: string
      - name: direction
        in: query
        description: The sorting direction.
        schema:
          type: string
      x-annotation-dx-category: assignments-find
      summary: find assignments
      tags:
      - dx-category--assignments-find
  /rest/external/assignments/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: An UUID representing the assignment id.
    get:
      responses:
        '200':
          description: Successfully returns the assignment with the given id.
          content:
            application/json:
              example:
                id: a60b2008-8872-4620-8ed2-410ce5640fb9
                externalId: External-Id
                subjectId: 360b2008-8872-4620-8ed2-410ce5640fb0
                app: APVerification
                createdBy: 260b2008-8872-4620-8ed2-410ce5640fb3
                assigneeIds:
                - 12067d82-1308-4fd1-9d0b-12eafe99c4cd
                companyId: 3fba6061-b51e-49bb-8c08-6cf6d28a304a
                tags:
                - A tag
                - Another tag
                type: A type
                createdAt: '2018-10-25T16:40:31.795+03:00'
                modifiedAt: '2018-10-25T16:40:31.795+03:00'
                outcome: An outcome
                status: CLOSED
                modifiedBy: 12067d82-1308-4fd1-9d0b-12eafe99c4cd
                comment: A comment
                context:
                  format: App.Tradeshift
                  context: {}
              schema:
                title: Tradeshift Public API 1.0 - Assignment
                required:
                - id
                - subjectId
                - type
                type: object
                additionalProperties: false
                properties:
                  id:
                    pattern: ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
                    description: String representation of an Universally unique identifier (UUID), version 5. See RFC 4122
                    type: string
                  subjectId:
                    pattern: ^.{1,255}$
                    type: string
                  app:
                    pattern: ^.{1,255}$
                    type: string
                  createdBy:
                    pattern: ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
                    description: String representation of an Universally unique identifier (UUID), version 5. See RFC 4122
                    type: string
                  assigneeIds:
                    uniqueItems: true
                    type: array
                    additionalProperties: false
                    items:
                      pattern: ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
                      description: String representation of an Universally unique identifier (UUID), version 5. See RFC 4122
                      type: string
                  companyId:
                    pattern: ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
                    description: String representation of an Universally unique identifier (UUID), version 5. See RFC 4122
                    type: string
                  tags:
                    minItems: 0
                    uniqueItems: true
                    type: array
                    additionalProperties: false
                    items:
                      type: string
                  type:
                    pattern: ^.{1,255}$
                    type: string
                  comment:
                    type: string
                  outcome:
                    type: string
                  status:
                    type: string
                  externalId:
                    pattern: ^.{1,255}$
                    type: string
                  modifiedBy:
                    pattern: ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
                    description: String representation of an Universally unique identifier (UUID), version 5. See RFC 4122
                    type: string
                  createdAt:
                    pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(\.\d{3})?(Z|(\+|\-)[0-9]{2}:[0-9]{2})
                    description: ISO8601 formatted DateTime in UTC timezone, fx 2014-12-09T16:11:53Z with optionally .001 for milliseconds.
                    type: string
                  modifiedAt:
                    pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(\.\d{3})?(Z|(\+|\-)[0-9]{2}:[0-9]{2})
                    description: ISO8601 formatted DateTime in UTC timezone, fx 2014-12-09T16:11:53Z with optionally .001 for milliseconds.
                    type: string
                  context:
                    type: object
                  delegations:
                    uniqueItems: true
                    type: array
                    items:
                      required:
                      - delegator
                      - delegatee
                      type: object
                      properties:
                        delegator:
                          pattern: ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
                          description: String representation of an Universally unique identifier (UUID), version 5. See RFC 4122
                          type: string
                        delegatee:
                          pattern: ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
                          description: String representation of an Universally unique identifier (UUID), version 5. See RFC 4122
                          type: string
                        delegatorType:
                          type: string
        '401':
          description: ''
        '403':
          description: Current user does not have access to assignment
          content:
            application/json:
              schema:
                type: string
        '404':
          description: ''
          content:
            text/xml:
              schema:
                example: "<ns6:ResponseError xmlns:cec=\"urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2\"\n                   xmlns:cac=\"urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2\"\n                   xmlns:cbc=\"urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2\"\n                   xmlns:ns6=\"http://tradeshift.com/api/1.0\"\n                   xmlns:ns20=\"urn:oasis:names:specification:ubl:schema:xsd:OrderResponseSimple-2\"\n                   xmlns:ns8=\"urn:oasis:names:specification:ubl:schema:xsd:ApplicationResponse-2\"\n                   xmlns:ns7=\"http://tradeshift.com/api/2.0\"\n                   xmlns:ns13=\"urn:oasis:names:specification:ubl:schema:xsd:CreditNote-2\"\n                   xmlns:ns9=\"urn:oasis:names:specification:ubl:schema:xsd:OrderCancellation-2\"\n                   xmlns:ns12=\"urn:oasis:names:specification:ubl:schema:xsd:Quotation-2\"\n                   xmlns:ns11=\"urn:oasis:names:specification:ubl:schema:xsd:Invoice-2\"\n                   xmlns:ns22=\"urn:oasis:names:specification:ubl:schema:xsd:RequestForQuotation-2\"\n                   xmlns:ns10=\"urn:oasis:names:specification:ubl:schema:xsd:DespatchAdvice-2\"\n                   xmlns:ns21=\"urn:oasis:names:specification:ubl:schema:xsd:OrderResponse-2\"\n                   xmlns:ns17=\"urn:oasis:names:specification:ubl:schema:xsd:RemittanceAdvice-2\"\n                   xmlns:ns16=\"urn:oasis:names:specification:ubl:schema:xsd:Reminder-2\"\n                   xmlns:ns15=\"urn:oasis:names:specification:ubl:schema:xsd:OrderChange-2\"\n                   xmlns:ns14=\"urn:oasis:names:specification:ubl:schema:xsd:Order-2\"\n                   xmlns:ns19=\"urn:oasis:names:specification:ubl:schema:xsd:Catalogue-2\"\n                   xmlns:ts=\"http://tradeshift.com/api/public/1.0\"\n                   xmlns:ns18=\"urn:oasis:names:specification:ubl:schema:xsd:ReceiptAdvice-2\">\n    <ns6:ErrorCode>ResourceNotFound</ns6:ErrorCode>\n    <ns6:Message>Error&amp;#x3a; ResourceNotFound&amp;#x3a; The object did not exist</ns6:Message>\n    <ns6:RequestId>fff29544-8039-499f-91c5-b3c9e4e3d8b1</ns6:RequestId>\n</ns6:ResponseError>\n"
      description: 'Get the assignment with the given id. <br> The assignment will be visible if the company is the current branch or one of the child branches.

        '
      operationId: get-rest-external-assignments-id
      parameters: []
      x-annotation-dx-category: assignments-find
      summary: find assignment
      tags:
      - dx-category--assignments-find
