openapi: 3.2.0
info:
  title: Tradeshift External Dx Category Document Validation Validators Find All API
  version: 1.0.0
servers:
- url: https://api.tradeshift.com/tradeshift
tags:
- name: dx-category--document-validation-validators_find_all
paths:
  /rest/external/document-validation/validation/groups:
    get:
      tags:
      - dx-category--document-validation-validators_find_all
      summary: List Validator Groups
      description: List validator groups for the tenant, optionally filtering by document type or connection property
      operationId: get-rest-external-document-validation-validation-groups
      parameters:
      - name: senderTenantId
        in: query
        description: UUID of the user company (tenant) that is sending the document. This can be different than the 'tenantId' header value, for example when checking on behalf of a branch. The sender tenant id is used to obtain the connection properties of the connection between the receiver and sender, or other sender related settings.
        required: false
        schema:
          type: string
          format: uuid
      - name: receiverTenantId
        in: query
        description: UUID of the company (tenant) that will receive the document. The receiver tenant is used to check the validators of the receiver when the receiver company has configured validation for other companies sending documents (for example 'sellers' sending invoices to a 'buyer'), to obtain the connection properties of the connection between the receiver and sender, to obtain the country compliance validator groups of the receiver if enabled, or other receiver related settings.
        required: true
        schema:
          type: string
          format: uuid
      - name: documentType
        in: query
        description: Optional document type filter. If not provided, validators with any document type will be returned
        required: false
        schema:
          type: string
          enum:
          - ApplicationResponse
          - AttachedDocument
          - AwardedNotification
          - BillOfLading
          - BusinessCard
          - CallForTenders
          - Catalogue
          - CatalogueDeletion
          - CatalogueItemSpecificationUpdate
          - CataloguePricingUpdate
          - CatalogueRequest
          - CertificateOfOrigin
          - ContractAwardNotice
          - ContractNotice
          - CreditNote
          - DebitNote
          - DespatchAdvice
          - DigitalAgreement
          - DigitalCapability
          - DocumentStatus
          - DocumentStatusRequest
          - Enquiry
          - EnquiryResponse
          - ExceptionCriteria
          - ExceptionNotification
          - ExpressionOfInterestRequest
          - ExpressionOfInterestResponse
          - Forecast
          - ForecastRevision
          - ForwardingInstructions
          - FreightInvoice
          - FulfilmentCancellation
          - GoodsItemItinerary
          - GuaranteeCertificate
          - InstructionForReturns
          - InventoryReport
          - Invoice
          - ItemInformationRequest
          - Order
          - OrderCancellation
          - OrderChange
          - OrderResponse
          - OrderResponseSimple
          - PackingList
          - PriorInformationNotice
          - ProductActivity
          - QualificationApplicationRequest
          - QualificationApplicationResponse
          - Quotation
          - ReceiptAdvice
          - Reminder
          - RemittanceAdvice
          - RequestForQuotation
          - RetailEvent
          - SelfBilledCreditNote
          - SelfBilledInvoice
          - Statement
          - StockAvailabilityReport
          - Tender
          - TenderContract
          - TenderReceipt
          - TenderStatus
          - TenderStatusRequest
          - TenderWithdrawal
          - TendererQualification
          - TendererQualificationResponse
          - TradeItemLocationProfile
          - TransportExecutionPlan
          - TransportExecutionPlanRequest
          - TransportProgressStatus
          - TransportProgressStatusRequest
          - TransportServiceDescription
          - TransportServiceDescriptionRequest
          - TransportationStatus
          - TransportationStatusRequest
          - UnawardedNotification
          - UnsubscribeFromProcedureRequest
          - UnsubscribeFromProcedureResponse
          - UtilityStatement
          - Waybill
          - WeightStatement
      - name: countryComplianceCode
        in: query
        description: Optional country code used to list by specific country compliance rules. If not provided, it is determined from the country of the receiver (receiverTenantId) if enabled on receiver.To list all country compliance validator groups use the special value 'ALL'.To list all the groups of the receiver but without the country compliance ones, even if defined and enabled, use the special value 'NONE'.
        required: false
        schema:
          type: object
          properties:
            countryCode:
              type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GroupDefWithId'
