openapi: 3.2.0
info:
  title: Tradeshift External Dx Category Assignments Logs API
  version: 1.0.0
servers:
- url: https://api.tradeshift.com/tradeshift
tags:
- name: dx-category--assignments-logs
paths:
  /rest/external/assignments/{id}/logs:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: An UUID representing the assignment id.
    get:
      responses:
        '200':
          description: 'Successfully returns the assignment by id and all its assignmentLogs. <br> ModifiedBy field shows the last user that has changed the status of an assignment. The user id is taken from the request context.

            '
          content:
            application/json:
              example:
                id: a60b2008-8872-4620-8ed2-410ce5640fb9
                subjectId: 360b2008-8872-4620-8ed2-410ce5640fb0
                app: APVerification
                createdBy: 260b2008-8872-4620-8ed2-410ce5640fb3
                assigneeIds:
                - 12067d82-1308-4fd1-9d0b-12eafe99c4cd
                companyId: 3fba6061-b51e-49bb-8c08-6cf6d28a304a
                tags:
                - A tag
                - Another tag
                type: A type
                createdAt: '2018-10-25T16:40:31.795+03:00'
                modifiedAt: '2018-10-25T16:40:31.795+03:00'
                outcome: An outcome
                status: CLOSED
                externalId: External-Id
                modifiedBy: 12067d82-1308-4fd1-9d0b-12eafe99c4cd
                comment: A comment
                assignmentLogs:
                - id: 9
                  outcome: An outcome
                  status: CLOSED
                  comment: A comment
                  externalId: External-Id
                  modifiedBy: 12067d82-1308-4fd1-9d0b-12eafe99c4cd
                  assigneeIds:
                  - 12067d82-1308-4fd1-9d0b-12eafe99c4cd
                  tags:
                  - A tag
                  - Another tag
                  createdAt: '2018-10-25T16:40:57.497+03:00'
                - id: 8
                  outcome: An outcome
                  status: OPEN
                  comment: A comment
                  externalId: External-Id
                  modifiedBy: 12067d82-1308-4fd1-9d0b-12eafe99c4cd
                  assigneeIds:
                  - 12067d82-1308-4fd1-9d0b-12eafe99c4cd
                  createdAt: '2018-10-25T16:40:48.898+03:00'
                context: {}
              schema:
                title: Tradeshift Public API 1.0 - Assignment
                required:
                - id
                - subjectId
                - type
                type: object
                additionalProperties: false
                properties:
                  id:
                    pattern: ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
                    description: String representation of an Universally unique identifier (UUID), version 5. See RFC 4122
                    type: string
                  subjectId:
                    pattern: ^.{1,255}$
                    type: string
                  app:
                    pattern: ^.{1,255}$
                    type: string
                  createdBy:
                    pattern: ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
                    description: String representation of an Universally unique identifier (UUID), version 5. See RFC 4122
                    type: string
                  assigneeIds:
                    minItems: 1
                    uniqueItems: true
                    type: array
                    additionalProperties: false
                    items:
                      pattern: ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
                      description: String representation of an Universally unique identifier (UUID), version 5. See RFC 4122
                      type: string
                  companyId:
                    pattern: ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
                    description: String representation of an Universally unique identifier (UUID), version 5. See RFC 4122
                    type: string
                  tags:
                    minItems: 0
                    uniqueItems: true
                    type: array
                    additionalProperties: false
                    items:
                      type: string
                  type:
                    pattern: ^.{1,255}$
                    type: string
                  comment:
                    type: string
                  externalId:
                    pattern: ^.{1,255}$
                    type: string
                  outcome:
                    type: string
                  status:
                    type: string
                  modifiedBy:
                    pattern: ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
                    description: String representation of an Universally unique identifier (UUID), version 5. See RFC 4122
                    type: string
                  createdAt:
                    pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(\.\d{3})?(Z|(\+|\-)[0-9]{2}:[0-9]{2})
                    description: ISO8601 formatted DateTime in UTC timezone, fx 2014-12-09T16:11:53Z with optionally .001 for milliseconds.
                    type: string
                  modifiedAt:
                    pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(\.\d{3})?(Z|(\+|\-)[0-9]{2}:[0-9]{2})
                    description: ISO8601 formatted DateTime in UTC timezone, fx 2014-12-09T16:11:53Z with optionally .001 for milliseconds.
                    type: string
                  assignmentLogs:
                    minItems: 0
                    uniqueItems: true
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        outcome:
                          type: string
                        externalId:
                          pattern: ^.{1,255}$
                          type: string
                        status:
                          type: string
                        comment:
                          type: string
                        tags:
                          minItems: 0
                          uniqueItems: true
                          type: array
                          additionalProperties: false
                          items:
                            type: string
                        createdAt:
                          pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(\.\d{3})?(Z|(\+|\-)[0-9]{2}:[0-9]{2})
                          description: ISO8601 formatted DateTime in UTC timezone, fx 2014-12-09T16:11:53Z with optionally .001 for milliseconds.
                          type: string
                      required:
                      - id
                      - outcome
                      - externalId
                      - status
                      - comment
                      - tags
                      - createdAt
                  context:
                    type: object
                  delegations:
                    uniqueItems: true
                    type: array
                    items:
                      required:
                      - delegator
                      - delegatee
                      type: object
                      properties:
                        delegator:
                          pattern: ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
                          description: String representation of an Universally unique identifier (UUID), version 5. See RFC 4122
                          type: string
                        delegatee:
                          pattern: ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
                          description: String representation of an Universally unique identifier (UUID), version 5. See RFC 4122
                          type: string
                        delegatorType:
                          type: string
        '401':
          description: ''
        '403':
          description: Current user does not have access to assignment
          content:
            application/json:
              schema:
                type: string
        '404':
          description: ''
          content:
            text/xml:
              schema:
                example: "<ns6:ResponseError xmlns:cec=\"urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2\"\n                   xmlns:cac=\"urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2\"\n                   xmlns:cbc=\"urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2\"\n                   xmlns:ns6=\"http://tradeshift.com/api/1.0\"\n                   xmlns:ns20=\"urn:oasis:names:specification:ubl:schema:xsd:OrderResponseSimple-2\"\n                   xmlns:ns8=\"urn:oasis:names:specification:ubl:schema:xsd:ApplicationResponse-2\"\n                   xmlns:ns7=\"http://tradeshift.com/api/2.0\"\n                   xmlns:ns13=\"urn:oasis:names:specification:ubl:schema:xsd:CreditNote-2\"\n                   xmlns:ns9=\"urn:oasis:names:specification:ubl:schema:xsd:OrderCancellation-2\"\n                   xmlns:ns12=\"urn:oasis:names:specification:ubl:schema:xsd:Quotation-2\"\n                   xmlns:ns11=\"urn:oasis:names:specification:ubl:schema:xsd:Invoice-2\"\n                   xmlns:ns22=\"urn:oasis:names:specification:ubl:schema:xsd:RequestForQuotation-2\"\n                   xmlns:ns10=\"urn:oasis:names:specification:ubl:schema:xsd:DespatchAdvice-2\"\n                   xmlns:ns21=\"urn:oasis:names:specification:ubl:schema:xsd:OrderResponse-2\"\n                   xmlns:ns17=\"urn:oasis:names:specification:ubl:schema:xsd:RemittanceAdvice-2\"\n                   xmlns:ns16=\"urn:oasis:names:specification:ubl:schema:xsd:Reminder-2\"\n                   xmlns:ns15=\"urn:oasis:names:specification:ubl:schema:xsd:OrderChange-2\"\n                   xmlns:ns14=\"urn:oasis:names:specification:ubl:schema:xsd:Order-2\"\n                   xmlns:ns19=\"urn:oasis:names:specification:ubl:schema:xsd:Catalogue-2\"\n                   xmlns:ts=\"http://tradeshift.com/api/public/1.0\"\n                   xmlns:ns18=\"urn:oasis:names:specification:ubl:schema:xsd:ReceiptAdvice-2\">\n    <ns6:ErrorCode>ResourceNotFound</ns6:ErrorCode>\n    <ns6:Message>Error&amp;#x3a; ResourceNotFound&amp;#x3a; The object did not exist</ns6:Message>\n    <ns6:RequestId>fff29544-8039-499f-91c5-b3c9e4e3d8b1</ns6:RequestId>\n</ns6:ResponseError>\n"
      description: "Get an assignment by id with all its logs. The assignment will be visible if: <ul>\n  <li>the current user is regular and the assignment is assigned to him or his teams </li>\n  <li>the current user is queue manager and and the assignment has an assignee in the current branch or child branches</li>\n</ul>\n"
      operationId: get-rest-external-assignments-id-logs
      parameters: []
      x-annotation-dx-category: assignments-logs
      summary: get assignment logs
      tags:
      - dx-category--assignments-logs
  /rest/external/assignments/subjects/{subjectId}/logs:
    parameters:
    - name: subjectId
      in: path
      required: true
      schema:
        type: string
      description: A string representing a subject id ( usually a document UUID ).
    get:
      responses:
        '200':
          description: 'Successfully returns the assignments with all their logs. <br> ModifiedBy field shows the last user that has changed the status of an assignment. The user id is taken from the request context.

            '
          content:
            application/json:
              example:
                total: 1
                items:
                - id: a60b2008-8872-4620-8ed2-410ce5640fb9
                  subjectId: 360b2008-8872-4620-8ed2-410ce5640fb0
                  app: APVerification
                  createdBy: 260b2008-8872-4620-8ed2-410ce5640fb3
                  assigneeIds:
                  - 12067d82-1308-4fd1-9d0b-12eafe99c4cd
                  companyId: 3fba6061-b51e-49bb-8c08-6cf6d28a304a
                  tags:
                  - A tag
                  - Another tag
                  type: A type
                  createdAt: '2018-10-25T16:40:31.795+03:00'
                  modifiedAt: '2018-10-25T16:40:31.795+03:00'
                  externalId: External-Id
                  outcome: An outcome
                  status: CLOSED
                  modifiedBy: 12067d82-1308-4fd1-9d0b-12eafe99c4cd
                  comment: A comment
                  assignmentLogs:
                  - id: 9
                    outcome: An outcome
                    status: CLOSED
                    externalId: External-Id
                    comment: A comment
                    modifiedBy: 12067d82-1308-4fd1-9d0b-12eafe99c4cd
                    assigneeIds:
                    - 12067d82-1308-4fd1-9d0b-12eafe99c4cd
                    tags:
                    - A tag
                    - Another tag
                    createdAt: '2018-10-25T16:40:57.497+03:00'
                  - id: 8
                    outcome: An outcome
                    status: OPEN
                    comment: A comment
                    externalId: External-Id
                    modifiedBy: 12067d82-1308-4fd1-9d0b-12eafe99c4cd
                    assigneeIds:
                    - 12067d82-1308-4fd1-9d0b-12eafe99c4cd
                    createdAt: '2018-10-25T16:40:48.898+03:00'
                  context: {}
                empty: false
                firstItem:
                  id: a60b2008-8872-4620-8ed2-410ce5640fb9
                  subjectId: 360b2008-8872-4620-8ed2-410ce5640fb0
                  app: APVerification
                  createdBy: 260b2008-8872-4620-8ed2-410ce5640fb3
                  assigneeIds:
                  - 12067d82-1308-4fd1-9d0b-12eafe99c4cd
                  companyId: 3fba6061-b51e-49bb-8c08-6cf6d28a304a
                  tags:
                  - A tag
                  - Another tag
                  type: A type
                  createdAt: '2018-10-25T16:40:31.795+03:00'
                  modifiedAt: '2018-10-25T16:40:31.795+03:00'
                  outcome: An outcome
                  status: CLOSED
                  externalId: External-Id
                  modifiedBy: 12067d82-1308-4fd1-9d0b-12eafe99c4cd
                  comment: A comment
                  assignmentLogs:
                  - id: 9
                    outcome: An outcome
                    status: CLOSED
                    comment: A comment
                    externalId: External-Id
                    modifiedBy: 12067d82-1308-4fd1-9d0b-12eafe99c4cd
                    assigneeIds:
                    - 12067d82-1308-4fd1-9d0b-12eafe99c4cd
                    createdAt: '2018-10-25T16:40:57.497+03:00'
                  - id: 8
                    outcome: An outcome
                    status: OPEN
                    comment: A comment
                    externalId: External-Id
                    modifiedBy: 12067d82-1308-4fd1-9d0b-12eafe99c4cd
                    assigneeIds:
                    - 12067d82-1308-4fd1-9d0b-12eafe99c4cd
                    createdAt: '2018-10-25T16:40:48.898+03:00'
                  context: {}
              schema:
                title: Tradeshift Public API 1.0 - Assignments
                required:
                - total
                - items
                - empty
                type: object
                additionalProperties: false
                properties:
                  total:
                    minimum: 0
                    description: The number of assignments returned for the query
                    type: integer
                  items:
                    minItems: 0
                    uniqueItems: true
                    type: array
                    additionalProperties: false
                    items:
                      required:
                      - id
                      - subjectId
                      - type
                      type: object
                      properties:
                        id:
                          pattern: ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
                          description: String representation of an Universally unique identifier (UUID), version 5. See RFC 4122
                          type: string
                        subjectId:
                          pattern: ^.{1,255}$
                          type: string
                        app:
                          pattern: ^.{1,255}$
                          type: string
                        createdBy:
                          pattern: ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
                          description: String representation of an Universally unique identifier (UUID), version 5. See RFC 4122
                          type: string
                        assigneeIds:
                          minItems: 1
                          uniqueItems: true
                          type: array
                          additionalProperties: false
                          items:
                            pattern: ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
                            description: String representation of an Universally unique identifier (UUID), version 5. See RFC 4122
                            type: string
                        companyId:
                          pattern: ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
                          description: String representation of an Universally unique identifier (UUID), version 5. See RFC 4122
                          type: string
                        tags:
                          minItems: 0
                          uniqueItems: true
                          type: array
                          additionalProperties: false
                          items:
                            type: string
                        type:
                          pattern: ^.{1,255}$
                          type: string
                        modifiedBy:
                          pattern: ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
                          description: String representation of an Universally unique identifier (UUID), version 5. See RFC 4122
                          type: string
                        createdAt:
                          pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(\.\d{3})?(Z|(\+|\-)[0-9]{2}:[0-9]{2})
                          description: ISO8601 formatted DateTime in UTC timezone, fx 2014-12-09T16:11:53Z with optionally .001 for milliseconds.
                          type: string
                        externalId:
                          pattern: ^.{1,255}$
                          type: string
                        modifiedAt:
                          pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(\.\d{3})?(Z|(\+|\-)[0-9]{2}:[0-9]{2})
                          description: ISO8601 formatted DateTime in UTC timezone, fx 2014-12-09T16:11:53Z with optionally .001 for milliseconds.
                          type: string
                        assignmentLogs:
                          minItems: 0
                          uniqueItems: true
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                              outcome:
                                type: string
                              externalId:
                                pattern: ^.{1,255}$
                                type: string
                              status:
                                type: string
                              comment:
                                type: string
                              tags:
                                minItems: 0
                                uniqueItems: true
                                type: array
                                additionalProperties: false
                                items:
                                  type: string
                              createdAt:
                                pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(\.\d{3})?(Z|(\+|\-)[0-9]{2}:[0-9]{2})
                                description: ISO8601 formatted DateTime in UTC timezone, fx 2014-12-09T16:11:53Z with optionally .001 for milliseconds.
                                type: string
                            required:
                            - id
                            - outcome
                            - externalId
                            - status
                            - comment
                            - tags
                            - createdAt
                        context:
                          type: object
                        delegations:
                          uniqueItems: true
                          type: array
                          items:
                            required:
                            - delegator
                            - delegatee
                            type: object
                            properties:
                              delegator:
                                pattern: ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
                                description: String representation of an Universally unique identifier (UUID), version 5. See RFC 4122
                                type: string
                              delegatee:
                                pattern: ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
                                description: String representation of an Universally unique identifier (UUID), version 5. See RFC 4122
                                type: string
                              delegatorType:
                                type: string
                  empty:
                    type: boolean
                  firstItem:
                    required:
                    - id
                    - subjectId
                    - type
                    type: object
                    properties:
                      id:
                        pattern: ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
                        description: String representation of an Universally unique identifier (UUID), version 5. See RFC 4122
                        type: string
                      subjectId:
                        pattern: ^.{1,255}$
                        type: string
                      app:
                        pattern: ^.{1,255}$
                        type: string
                      createdBy:
                        pattern: ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
                        description: String representation of an Universally unique identifier (UUID), version 5. See RFC 4122
                        type: string
                      assigneeIds:
                        minItems: 1
                        uniqueItems: true
                        type: array
                        additionalProperties: false
                        items:
                          pattern: ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
                          description: String representation of an Universally unique identifier (UUID), version 5. See RFC 4122
                          type: string
                      companyId:
                        pattern: ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
                        description: String representation of an Universally unique identifier (UUID), version 5. See RFC 4122
                        type: string
                      tags:
                        minItems: 0
                        uniqueItems: true
                        type: array
                        additionalProperties: false
                        items:
                          type: string
                      type:
                        pattern: ^.{1,255}$
                        type: string
                      modifiedBy:
                        pattern: ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
                        description: String representation of an Universally unique identifier (UUID), version 5. See RFC 4122
                        type: string
                      createdAt:
                        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(\.\d{3})?(Z|(\+|\-)[0-9]{2}:[0-9]{2})
                        description: ISO8601 formatted DateTime in UTC timezone, fx 2014-12-09T16:11:53Z with optionally .001 for milliseconds.
                        type: string
                      externalId:
                        pattern: ^.{1,255}$
                        type: string
                      modifiedAt:
                        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(\.\d{3})?(Z|(\+|\-)[0-9]{2}:[0-9]{2})
                        description: ISO8601 formatted DateTime in UTC timezone, fx 2014-12-09T16:11:53Z with optionally .001 for milliseconds.
                        type: string
                      assignmentLogs:
                        minItems: 0
                        uniqueItems: true
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            outcome:
                              type: string
                            externalId:
                              pattern: ^.{1,255}$
                              type: string
                            status:
                              type: string
                            comment:
                              type: string
                            tags:
                              minItems: 0
                              uniqueItems: true
                              type: array
                              additionalProperties: false
                              items:
                                type: string
                            createdAt:
                              pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(\.\d{3})?(Z|(\+|\-)[0-9]{2}:[0-9]{2})
                              description: ISO8601 formatted DateTime in UTC timezone, fx 2014-12-09T16:11:53Z with optionally .001 for milliseconds.
                              type: string
                          required:
                          - id
                          - outcome
                          - externalId
                          - status
                          - comment
                          - tags
                          - createdAt
                      context:
                        type: object
                      delegations:
                        uniqueItems: true
                        type: array
                        items:
                          required:
                          - delegator
                          - delegatee
                          type: object
                          properties:
                            delegator:
                              pattern: ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
                              description: String representation of an Universally unique identifier (UUID), version 5. See RFC 4122
                              type: string
                            delegatee:
                              pattern: ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
                              description: String representation of an Universally unique identifier (UUID), version 5. See RFC 4122
                              type: string
                            delegatorType:
                              type: string
        '400':
          description: The page number is negative.
          content:
            application/json:
              example:
                ErrorCode: BadRequest
                Message: An invalid request was made - Parameter 'page' cannot be negative
                ErrorDetail:
                - Key: message
                  Value: Parameter 'page' cannot be negative.
                ValidationError: []
              schema:
                type: string
        '401':
          description: ''
        '404':
          description: ''
          content:
            text/xml:
              schema:
                example: "<ns6:ResponseError xmlns:cec=\"urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2\"\n                   xmlns:cac=\"urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2\"\n                   xmlns:cbc=\"urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2\"\n                   xmlns:ns6=\"http://tradeshift.com/api/1.0\"\n                   xmlns:ns20=\"urn:oasis:names:specification:ubl:schema:xsd:OrderResponseSimple-2\"\n                   xmlns:ns8=\"urn:oasis:names:specification:ubl:schema:xsd:ApplicationResponse-2\"\n                   xmlns:ns7=\"http://tradeshift.com/api/2.0\"\n                   xmlns:ns13=\"urn:oasis:names:specification:ubl:schema:xsd:CreditNote-2\"\n                   xmlns:ns9=\"urn:oasis:names:specification:ubl:schema:xsd:OrderCancellation-2\"\n                   xmlns:ns12=\"urn:oasis:names:specification:ubl:schema:xsd:Quotation-2\"\n                   xmlns:ns11=\"urn:oasis:names:specification:ubl:schema:xsd:Invoice-2\"\n                   xmlns:ns22=\"urn:oasis:names:specification:ubl:schema:xsd:RequestForQuotation-2\"\n                   xmlns:ns10=\"urn:oasis:names:specification:ubl:schema:xsd:DespatchAdvice-2\"\n                   xmlns:ns21=\"urn:oasis:names:specification:ubl:schema:xsd:OrderResponse-2\"\n                   xmlns:ns17=\"urn:oasis:names:specification:ubl:schema:xsd:RemittanceAdvice-2\"\n                   xmlns:ns16=\"urn:oasis:names:specification:ubl:schema:xsd:Reminder-2\"\n                   xmlns:ns15=\"urn:oasis:names:specification:ubl:schema:xsd:OrderChange-2\"\n                   xmlns:ns14=\"urn:oasis:names:specification:ubl:schema:xsd:Order-2\"\n                   xmlns:ns19=\"urn:oasis:names:specification:ubl:schema:xsd:Catalogue-2\"\n                   xmlns:ts=\"http://tradeshift.com/api/public/1.0\"\n                   xmlns:ns18=\"urn:oasis:names:specification:ubl:schema:xsd:ReceiptAdvice-2\">\n    <ns6:ErrorCode>ResourceNotFound</ns6:ErrorCode>\n    <ns6:Message>Error&amp;#x3a; ResourceNotFound&amp;#x3a; The object did not exist</ns6:Message>\n    <ns6:RequestId>fff29544-8039-499f-91c5-b3c9e4e3d8b1</ns6:RequestId>\n</ns6:ResponseError>\n"
      description: "Get a paged list of assignments with all their logs, filtered by subject id which usually is a document id. <br> The assignments will be visible if: <ul>\n  <li>the current user is regular and the assignments are assigned to him or his teams </li>\n  <li>the current user is queue manager and and the assignments have an assignee in the current branch or child branches</li>\n</ul>\n"
      operationId: get-rest-external-assignments-subjects-subjectid-logs
      parameters:
      - name: page
        in: query
        description: Number representing the page to be return from the paginated result-set.
        schema:
          default: 0
          type: integer
      - name: limit
        in: query
        description: The number of assignments displayed per page.
        schema:
          default: 20
          type: integer
      x-annotation-dx-category: assignments-logs
      summary: get assignments by subjectid
      tags:
      - dx-category--assignments-logs
